<header>
  <div class="container">
    <div class="hamburger">
      <img src="../../assets/img/menu.svg" alt="">
    </div>
    <div class="logo">
      <a href="#"><img src="https://cdn.bustle.com/bustle/production/public/logo-5f0141.svg" alt=""></a>
    </div>
    <div class="right-links">
    <div class="social">
      <a href="https://www.facebook.com/bustledotcom/"><img src="https://cdn.bustle.com/bustle/production/public/facebook-82ce69.svg" alt=""></a>
      <a href="https://twitter.com/bustle"><img src="https://cdn.bustle.com/bustle/production/public/twitter-21e023.svg" alt=""></a>
      <a href="https://www.pinterest.com/bustledotcom/"><img src="https://cdn.bustle.com/bustle/production/public/pinterest-308216.svg" alt=""></a>
      <a href="https://www.instagram.com/bustle/"><img src="https://cdn.bustle.com/bustle/production/public/instagram-1eea18.svg" alt=""></a>
      <a href="https://www.youtube.com/channel/UCHcIcCNAULM4qWs6-9Iy-Tw"><img src="https://cdn.bustle.com/bustle/production/public/youtube-8878ee.svg" alt=""></a>
      <a href="https://itunes.apple.com/us/artist/bustle/id1019829583?mt=2"><img src="https://cdn.bustle.com/bustle/production/public/podcast-e09fef.svg" alt=""></a>

    </div>
    <span> | </span>
    <div class="search">
      <img src="../../assets/img/mag.svg" alt="">
      <img src="https://cdn.bustle.com/bustle/production/public/us-2144e9.svg" alt="">
    </div>
  </div>
  </div>
</header>
