<app-horizontal-articles></app-horizontal-articles>
<app-feature-article></app-feature-article>
<div class="exclusiveLine">
  <div class="text">
    <h1>Bustle Exclusives</h1>
  </div>
  <div class="line">
  </div>
</div>
<app-horizontal-articles></app-horizontal-articles>
<app-standard-article></app-standard-article>
<app-feature-article></app-feature-article>
<app-standard-article></app-standard-article>
<div class="exclusiveLine">
  <div class="text">
    <h1>Bustle's Bad Boys</h1>
  </div>
  <div class="line">
  </div>
</div>
<app-horizontal-articles></app-horizontal-articles>
<app-standard-article></app-standard-article>
