<app-horizontal-articles [childArticleList]="horizontalArticleList"></app-horizontal-articles>
<app-feature-article [childArticleList]="featuredArticleList"></app-feature-article>
<div class="exclusiveLine">
  <div class="text">
    <h1>Bustle Exclusives</h1>
  </div>
  <div class="line">
  </div>
</div>
<app-horizontal-articles [childArticleList]="exclusiveArticleList"></app-horizontal-articles>
<app-standard-article [childArticleList]="standardArticleList"></app-standard-article>
<app-feature-article [childArticleList]="featuredArticleList"></app-feature-article>
<app-standard-article [childArticleList]="standardArticleList"></app-standard-article>
<div class="exclusiveLine">
  <div class="text">
    <h1>Bustle's Bad Boys</h1>
  </div>
  <div class="line">
  </div>
</div>
<app-horizontal-articles [childArticleList]="horizontalArticleList"></app-horizontal-articles>
<app-standard-article [childArticleList]="standardArticleList"></app-standard-article>
