<app-header></app-header>
<app-horizontal-articles [childArticleList]="masterArticleList"></app-horizontal-articles>
<app-feature-article [childArticleList]="masterArticleList"></app-feature-article>
<div class="exclusiveLine">
  <div class="text">
    <h1>Bustle Exclusives</h1>
  </div>
  <div class="line">

  </div>
</div>
<app-horizontal-articles [childArticleList]="masterArticleList"></app-horizontal-articles>
<!-- <app-exclusive-article [childArticleList]="masterArticleList"></app-exclusive-article> -->
<app-standard-article [childArticleList]="masterArticleList"></app-standard-article>
