<app-header (clickSender)="toggleMenu($event)" [childShow]="show"></app-header>
<app-horizontal-articles [childArticleList]="masterArticleList"></app-horizontal-articles>
<app-feature-article [childArticleList]="featuredArticleList"></app-feature-article>
<div class="exclusiveLine">
  <div class="text">
    <h1>Bustle Exclusives</h1>
  </div>
  <div class="line">
  </div>
</div>
<app-horizontal-articles [childArticleList]="exclusiveArticleList"></app-horizontal-articles>
<app-standard-article [childArticleList]="masterArticleList"></app-standard-article>
