.container {
  width: 75%;
  margin: 0 auto;
  font-weight: lighter;

}

img {
  height: 245px;
  width: 400px;
  margin-right: 20px;
}

.article {
  display: flex;
  height: 265px;
}


@media only screen and (max-width: 1000px) {
  .article p {
    display: none;
  }
}
